# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
dlna
bin

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Perso
log*
.config*
searchAndSort
debug
.vscode
.idea
a_trier/
movies
series
app.db

\.DS_Store

searchMoviesConfig/\.movies\.json

searchMoviesConfig/\.series\.json

.updateApp
media-organizer*
*.csv
.env*
tmp
